.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/** home page widgets **/
.sidebar-home-1,
.sidebar-home-2 {
	.widget {
		margin: 0;
	}
}

.sidebar-home-2 {

	.widget_text {
		display: table;
		width: 100%;
		min-height: 150px;

		.textwidget {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			h3 {
				font-size: 36px;
				font-weight: 400;
			}
			p {
				font-size: 24px;
				font-weight: 600;
			}
		}
	}
}