/* ============================================ */
/* This file has a mobile-to-desktop breakpoint */
/* ============================================ */

@import "../../../bower/unsemantic/partials/unsemantic-vars";
@import "../../../bower/unsemantic/partials/unsemantic-ie-snap";

@include unsemantic-grid-placeholders;

.site-branding,
.site-main,
.credit,
.breadcrumb-trail,
.sidebar-home-2 .widget
{
	@extend %grid-container;
}

.site-main {
	@extend %grid-parent;
}

.content,
.sidebar-primary {
	@extend %grid-columns-all;
}

@media screen and (max-width: $media-mobile-max) {
	@include unsemantic-grid-placeholders(mobile);
	.content,
	.sidebar-primary {
		@extend %mobile-grid-100;
	}
}

@media screen and (min-width: $media-tablet-min) and (max-width: $media-tablet-max) {
	@include unsemantic-grid-placeholders(tablet);
}

@media screen and (min-width: $media-desktop-min) {
	@include unsemantic-grid-placeholders(desktop);
	.content {
		@extend %desktop-grid-75;
	}
	.sidebar-primary {
		 @extend %desktop-grid-25;
	}
	.layout-1c {
		.content {
			@extend %desktop-grid-100;
		}
	}
}