$size__site-main: 100%;
$size__site-sidebar: 25%;

$unsemantic-ie7-support: false;
$container-max-width: 1200px;
$gutter-half: 20px;

$media-mobile-max: 767px !default;
$media-tablet-min: 768px !default;
$media-tablet-max: 1024px !default;
$media-desktop-min: 1025px !default;