@mixin theme-colors( $name, $primary, $secondary ) {

	h1, h2, h3, h4, h5, h6 {
		color: $primary;
	}

	.menu-primary ul.menu-items > li:not(:last-child) > a:after {
		color: $secondary;
	}

	 .site-header {
		background:
			url('images/#{$name}-top.png') 0 0 repeat-x,
			url('images/#{$name}-header-b.png') center 0 no-repeat #ffffff; //,			//#ffffff url('images/#{$name}-bg.png') center center repeat-x;
	}

	//.site-footer {
	//	background: #ffffff url('images/#{$name}-bg.png') center -250px repeat-x;
	//}

	.menu-primary {
		background:
			url('images/#{$name}-line.png') repeat-x 0 0,
			url('images/#{$name}-line.png') repeat-x 0 100% #ffffff;
	}

	//.sidebar-home-2 {
	//	background: #ffffff url('images/#{$name}-feature-bg.png') repeat-x 0 0;
	//}

	.hero-widget h2 {
		border-bottom: 3px dashed $primary;
	}

	a {
		color: $primary;

		&:visited {
			color: $primary;
		}
		&:hover,
		&:focus,
		&:active {
			color: $primary;
		}
	}

	.menu-primary {
		a {
			color: $color__text-main;
		}
		&:visited {
			color: $color__text-main;
		}
		&:hover,
		&:focus,
		&:active,
		& li:hover > a,
		& li.focus > a,
		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a {
			color: $primary;
		}
	}
}

$colors-list: 'blueberry-waffle' #66b4ca #ead8b7, 'raspberry-jam' #e569a3 #d4d4d4;

@each $current-color in $colors-list {
	$name: nth($current-color, 1);
	$primary: nth($current-color, 2);
	$secondary: nth($current-color, 3);

	@if $name == "blueberry-waffle" {
		@include theme-colors( $name, $primary, $secondary );
	}
	@else {
		.color-scheme-#{$name} {
			@include theme-colors( $name, $primary, $secondary );
		}
	}
}