.site-header {

}

.site-branding {
	padding-top: 30px;
	padding-bottom: $gutter-half;
}

.site-logo {
	display: inline-block;
	padding-right: $gutter-half;
}

.header-text {
	display: inline-block;
}