.breadcrumb-trail {

	.trail-begin {}

	.trail-end {}

	.trail-items {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
	}

	.trail-item {
		display: inline-block;
		&:not(.trail-end):after {
			content: "/";
			display: inline-block;
			margin: 0 0.5em;
		}
	}
}