.hero-widget {
	height: 400px;
	width: 100%;
	background-size:cover;
	background-position: center center;
	position: relative;

	h2 {
		font-size: 34px;
		font-weight: 400;
		display: block;
		position: absolute;
		bottom: 1em;
		right: 2em;
		padding: .4em .6em .2em;
	}
}